body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #e5e5e5;
    }

    nav {
      background-color: #1c3f5c;
      color: white;
      text-align: center;
      padding: 1rem;
    }

    .container {
    flex: 1;
      display: flex;
      padding: 1rem;
    }

    .sidebar {
      width: 200px;
      padding: 1rem;
      background-color: white;
      font-size: 14px;
    }

    .sidebar h3 {
      margin-top: 0;
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
    }

    .sidebar ul li {
      margin-bottom: 8px;
      color: #333;
    }

    .sidebar ul li span {
      color: gray;
      font-size: 12px;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 3rem;
      padding: 0 1rem;
      flex: 1;
    }

   .product {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 100%; /* Para que crezca dentro del grid */
  min-height: 320px; /* Altura mínima uniforme */
}

.product img {
  max-height: 180px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product h4 {
  margin: 0 0 5px;
  font-size: 16px;
  text-align: center;
}

.product p {
  margin: 0 0 10px;
  font-weight: bold;
  text-align: center;
}

.product button {
  margin-top: auto; /* Empuja el botón al fondo */
  background-color: #1c3f5c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
}

.product button:hover {
  background-color: #16324b;
}
footer {
  background-color: #1c3f5c;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 361px;

}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ffffffcc;
  text-decoration: none;
  margin: 15px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #ffffff;
}
